$fuentes:'Kumbh Sans', sans-serif;

$sizes:
0px,  //1
15px, //2
20px, //3
30px, //4 
40px, //5
50px, //6
80px, //7
60px 70px, //8
8px, //9
1px, //10
4px, //11
14px, //12
16px, //13
6px 50px, //14
20px 2px, //15
10px, //16
1fr 1fr, //17
768px, //18
1fr; //19


$colores:
white,
#32a852,
#ccc,
#2c944a;

$form: solid;
$variable-nula: none;
$mouse: pointer;

$alineacion: 
center, //1
left, //2
end, //3
justify, //4
column, //5
flex-start, //6
auto; //7

$flex-box:flex;

$grid:grid;

