$fuentes:'Kumbh Sans', sans-serif;

$sizes:
0px,
15px,
20px,
30px,
40px,
50px,
80px,
60px 70px;

$colores:
white,
#32a852;

$variable-nula: none;

$alineacion: 
center,
left,
end,
justify;

$flex-box:flex;

$grid:grid;

